# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite

# Data (common in research repos)
outputs/
wandb/
models/
checkpoints/

# Other
.DS_Store
condaenv.yg5lrtta.requirements.txt

# Local doc
Gemfile
Gemfile.lock
_site/
